.columns {
  display: grid;
  column-gap: 41px;
  row-gap: 49px;
  grid-template-columns: 0.97fr 1.03fr;
  grid-template-rows: repeat(10, min-content);
}

@media screen and (max-width: 1024px) {
  .columns {
    column-gap: 33px;
    row-gap: 48px;
    grid-template-columns: 0.98fr 1.02fr;
  }
}

@media screen and (max-width: 768px) {
  .columns {
    column-gap: 29px;
    row-gap: 43px;
  }
}

@media screen and (max-width: 650px) {
  .columns {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, min-content);
    row-gap: 30px;
  }
}
