.intro__list {
  color: #ffffff;
  margin: 32px 0 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .intro__list {
    margin: 34px 0 0;
  }
}
