.columns__paragraph_space_less {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .columns__paragraph_space_less {
    margin-top: 25px;
  }
}

@media screen and (max-width: 500px) {
  .columns__paragraph_space_less {
    margin-top: 26px;
  }
}
