.columns__website_position_lower {
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .columns__website_position_lower {
    margin: 0 0 2px 0;
  }
}

@media screen and (max-width: 500px) {
  .columns__website_position_lower {
    margin: 2px 0 0 16px;
  }
}
