.columns__url-heading {
  color: #ffffff;
  margin: 10px 0 13px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .columns__url-heading {
    margin: 10px 0 13px;
  }
}

@media screen and (max-width: 500px) {
  .columns__url-heading {
    margin: 0 0 13px;
  }
}
