.cover {
  margin: 92px 48px;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 94px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    margin: 66px 0 0;
  }
}
