.intro__title {
  color: #ffffff;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}

@media screen and (max-width: 460px) {
  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
  }
}
